# Make a copy of this file with the name .env and assign values to variables

ELSER_MODEL=.elser_model_2_linux-x86_64

# If you are using a self-hosted Elasticsearch
# ELASTICSEARCH_URL=

# The name of the Elasticsearch indexes
ES_INDEX=search-cna-nested
ES_INDEX_CHAT_HISTORY=chat-history

ES_USER=super
ES_PASS=supersuper
ES_CLOUDID=xxx:yyy

# Uncomment and complete if you want to use OpenAI
# LLM_TYPE=openai
# OPENAI_API_KEY=

# Uncomment and complete if you want to use Azure OpenAI
LLM_TYPE=azure
OPENAI_VERSION=xx
OPENAI_BASE_URL=https://xxx.openai.azure.com/
OPENAI_API_KEY=xxx
OPENAI_ENGINE=xxx